### Description  
This Python script combines manufacturing data from multiple Excel sheets (first and second shifts) into a single dataset.
It also performs basic analysis to compare shift performance such as average run time and units produced. 
Lastly, it exports the merged data for easy reporting.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
excel_file = 'shift-data.xlsx'

In [5]:
df_first_shift = pd.read_excel(excel_file_1, sheet_name='first')
df_second_shift = pd.read_excel(excel_file_1, sheet_name='second')

In [7]:
df_first_shift.head(3)

,Shift,Clock Number,Name,Product,Production Run Time (Min),Products Produced (Units)
0,1,123654,Pete,Pepperoni,46,107
1,1,123498,Abdul,Cheese,56,20
2,1,123999,Emma,Mushroom,42,65

In [8]:
df_second_shift.head(3)

,Shift,Clock Number,Name,Product,Production Run Time (Min),Products Produced (Units)
0,2,223768,Oliver,Mushroom,45,74
1,2,223564,Emily,Pepperoni,52,92
2,2,223954,Francesco,Cheese,41,70

In [9]:
df_combine_all = pd.concat([df_first_shift, df_second_shift])

In [12]:
df_combine_all

,Shift,Clock Number,Name,Product,Production Run Time (Min),Products Produced (Units)
0,1,123654,Pete,Pepperoni,46,107
1,1,123498,Abdul,Cheese,56,20
2,1,123999,Emma,Mushroom,42,65
3,1,123654,Pete,Pepperoni,47,83
4,1,123498,Abdul,Mushroom,54,58
5,1,123865,Mohammed,Cheese,55,51
6,1,123999,Emma,Cheese,54,8
7,1,123654,Pete,Sausage,29,65
8,1,123865,Mohammed,Pepperoni,36,79
9,1,123999,Emma,Mushroom,44,31
10,1,123498,Abdul,Cheese,40,33
11,1,123654,Pete,Sausage,38,89
12,1,123654,Pete,Pepperoni,47,90
13,1,123765,Sofie,Mushroom,55,17
14,1,123445,Mike,Cheese,39,82
15,1,123999,Emma,Sausage,47,33
16,1,123765,Sofie,Mushroom,43,46
17,1,123865,Mohammed,Pepperoni,44,134
18,1,123445,Mike,Cheese,57,49
19,1,123498,Abdul,Sausage,55,38
20,1,123654,Pete,Mushroom,50,46
21,1,123765,Sofie,Sausage,49,20
22,1,123445,Mike,Pepperoni,38,67
23,1,123999,Emma,Cheese,44,40
24,1,123865,Mohammed,Mushroom,43,17
25,1,123865,Mohammed,Pepperoni,33,62
26,1,123765,Sofie,Cheese,39,51
27,1,123498,Abdul,Sausage,42,14
28,1,123654,Pete,Mushroom,30,85
0,2,223768,Oliver,Mushroom,45,74
1,2,223564,Emily,Pepperoni,52,92
2,2,223954,Francesco,Cheese,41,70
3,2,223564,Emily,Sausage,39,94
4,2,223114,Camila,Mushroom,49,89
5,2,223114,Camila,Cheese,55,82
6,2,223114,Camila,Pepperoni,52,75
7,2,223954,Francesco,Pepperoni,46,66
8,2,223768,Oliver,Cheese,37,78
9,2,223768,Oliver,Sausage,46,83
10,2,223564,Emily,Sausage,35,101
11,2,223954,Francesco,Mushroom,47,86
12,2,223954,Francesco,Mushroom,44,106
13,2,223114,Camila,Sausage,41,110
14,2,223564,Emily,Mushroom,37,102
15,2,223768,Oliver,Pepperoni,33,78
16,2,223954,Francesco,Pepperoni,39,94
17,2,223564,Emily,Pepperoni,40,72
18,2,223114,Camila,Cheese,50,62
19,2,223114,Camila,Cheese,43,76
20,2,223768,Oliver,Pepperoni,53,92
21,2,223954,Francesco,Pepperoni,55,114
22,2,223564,Emily,Cheese,51,70
23,2,223114,Camila,Cheese,39,76
24,2,223768,Oliver,Cheese,47,65
25,2,223114,Camila,Mushroom,36,30
26,2,223564,Emily,Mushroom,31,51
27,2,223954,Francesco,Sausage,38,49
28,2,223768,Oliver,Sausage,46,86

In [19]:
pivot = df_combine_all.groupby(['Shift']).mean(numeric_only=True)
shift_productivity = pivot.loc[:,"Production Run Time (Min)":"Products Produced (Units)"]

In [20]:
shift_productivity

       Production Run Time (Min)  Products Produced (Units)
Shift
1                      44.689655                  54.482759
2                      43.689655                  80.103448

In [ ]:
df_combine_all.to_excel("output.xlsx")