### Description
This project explores a dataset of 5,000 e-commerce transactions. It looks at customer demographics, buying habits, and overall sales to help identify useful trends for better business decisions.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

df = pd.read_csv('ecommerce_customer_behavior_dataset.csv')

In [3]:
df.head()

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Order_ID                  5000 non-null   object
 1   Customer_ID               5000 non-null   object
 2   Date                      5000 non-null   object
 3   Age                       5000 non-null   int64
 4   Gender                    5000 non-null   object
 5   City                      5000 non-null   object
 6   Product_Category          5000 non-null   object
 7   Unit_Price                5000 non-null   float64
 8   Quantity                  5000 non-null   int64
 9   Discount_Amount           5000 non-null   float64
 10  Total_Amount              5000 non-null   float64
 11  Payment_Method            5000 non-null   object
 12  Device_Type               5000 non-null   object
 13  Session_Duration_Minutes  5000 non-null   int64
 14  Pages_Viewed              5000 non-null   int64
 15  Is_Returning_Customer     5000 non-null   bool
 16  Delivery_Time_Days        5000 non-null   int64
 17  Customer_Rating           5000 non-null   int64
dtypes: bool(1), float64(3), int64(6), object(8)
memory usage: 669.1+ KB

In [5]:
df.isnull().sum()

Order_ID                    0
Customer_ID                 0
Date                        0
Age                         0
Gender                      0
City                        0
Product_Category            0
Unit_Price                  0
Quantity                    0
Discount_Amount             0
Total_Amount                0
Payment_Method              0
Device_Type                 0
Session_Duration_Minutes    0
Pages_Viewed                0
Is_Returning_Customer       0
Delivery_Time_Days          0
Customer_Rating             0
dtype: int64

In [6]:
df['Order_ID'].duplicated().sum()

np.int64(0)

In [7]:
df['Date'] = pd.to_datetime(df['Date'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Order_ID                  5000 non-null   object
 1   Customer_ID               5000 non-null   object
 2   Date                      5000 non-null   datetime64[ns]
 3   Age                       5000 non-null   int64
 4   Gender                    5000 non-null   object
 5   City                      5000 non-null   object
 6   Product_Category          5000 non-null   object
 7   Unit_Price                5000 non-null   float64
 8   Quantity                  5000 non-null   int64
 9   Discount_Amount           5000 non-null   float64
 10  Total_Amount              5000 non-null   float64
 11  Payment_Method            5000 non-null   object
 12  Device_Type               5000 non-null   object
 13  Session_Duration_Minutes  5000 non-null   int64
 14  Pages_Viewed              5000 non-null   int64
 15  Is_Returning_Customer     5000 non-null   bool
 16  Delivery_Time_Days        5000 non-null   int64
 17  Customer_Rating           5000 non-null   int64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(6), object(7)
memory usage: 669.1+ KB

In [9]:
df.describe(include='object')

,Order_ID,Customer_ID,Gender,City,Product_Category,Payment_Method,Device_Type
count,5000,5000,5000,5000,5000,5000,5000
unique,5000,5000,3,10,8,5,3
top,ORD_001337,CUST_01337,Female,Istanbul,Sports,Credit Card,Mobile
freq,1,1,2492,1284,667,2012,2795

In [15]:
# Analyze Gender distribution
gender_dist = df['Gender'].value_counts(normalize=True) * 100

In [16]:
gender_dist

Gender
Female    49.84
Male      48.70
Other      1.46
Name: proportion, dtype: float64

In [17]:
# Analyze City distribution
city_dist = df['City'].value_counts()

In [19]:
city_dist.head()

City
Istanbul    1284
Ankara       735
Izmir        600
Bursa        496
Adana        378
Name: count, dtype: int64

In [20]:
# Age Groups using pd.cut() for better segmentation
age_bins = [18, 25, 35, 45, 55, 61]
age_labels = ['18-24', '25-34', '35-44', '45-54', '55-60']
df['Age_Group'] = pd.cut(df['Age'], bins=age_bins, labels=age_labels, right=False)

age_group_dist = df['Age_Group'].value_counts().sort_index()
age_group_dist

Age_Group
18-24     998
25-34    1476
35-44    1521
45-54     769
55-60     169
Name: count, dtype: int64

In [23]:
#  Product_Category and aggregate key sales metrics
category_performance = df.groupby('Product_Category')['Total_Amount'].agg(
    Total_Revenue='sum',
    Average_Order_Value='mean',
    Total_Orders='count'
).sort_values(by='Total_Revenue', ascending=False)

category_performance

                  Total_Revenue  Average_Order_Value  Total_Orders
Product_Category
Electronics          2328806.81          3732.062196           624
Home & Garden         908348.86          1462.719581           621
Sports                754563.56          1131.279700           667
Fashion               375214.93           603.239437           622
Toys                  223142.48           365.807344           610
Beauty                156584.74           252.149340           621
Food                   96138.67           155.312876           619
Books                  72744.52           118.091753           616

In [25]:
# Calculate total revenue and discounts
total_revenue = df['Total_Amount'].sum()
total_discounts = df['Discount_Amount'].sum()
discount_as_pct_revenue = (total_discounts / (total_revenue + total_discounts)) * 100
print(f"\nTotal Revenue: ${total_revenue:,.2f}")
print(f"Total Discounts Given: ${total_discounts:,.2f}")
print(f"Discounts as % of Gross Revenue: {discount_as_pct_revenue:.2f}%")

Total Revenue: $4,915,544.57
Total Discounts Given: $124,264.02
Discounts as % of Gross Revenue: 2.47%

In [27]:
# Payment Method popularity
payment_pref = df['Payment_Method'].value_counts(normalize=True) * 100
payment_pref

Payment_Method
Credit Card         40.24
Debit Card          25.30
Digital Wallet      19.30
Bank Transfer       10.20
Cash on Delivery     4.96
Name: proportion, dtype: float64

In [28]:
# Device Type usage
device_usage = df['Device_Type'].value_counts(normalize=True) * 100
device_usage

Device_Type
Mobile     55.90
Desktop    34.22
Tablet      9.88
Name: proportion, dtype: float64

In [29]:
# Returning Customer rate
returning_cust_rate = df['Is_Returning_Customer'].value_counts(normalize=True) * 100
returning_cust_rate

Is_Returning_Customer
True     59.8
False    40.2
Name: proportion, dtype: float64

In [30]:
# Behavior of Returning vs. New Customers
customer_type_behavior = df.groupby('Is_Returning_Customer')[['Total_Amount', 'Customer_Rating']].mean()
customer_type_behavior

                       Total_Amount  Customer_Rating
Is_Returning_Customer
False                    978.867527         3.910945
True                     985.960147         3.897324

In [31]:
# Set the 'Date' as the index for time-series analysis
df_time = df.set_index('Date')

# Resample sales data by Month ('M') and sum the Total_Amount
monthly_sales = df_time['Total_Amount'].resample('M').sum()


# Calculate a 3-month rolling average to smooth out trends
monthly_sales_df = monthly_sales.to_frame(name='Monthly_Sales')
monthly_sales_df['3M_Rolling_Avg'] = monthly_sales_df['Monthly_Sales'].rolling(window=3).mean()

print(f"\n--- Monthly Sales with 3-Month Rolling Average ---")
print(monthly_sales_df.tail())

--- Monthly Sales with 3-Month Rolling Average ---
            Monthly_Sales  3M_Rolling_Avg
Date
2023-11-30      282606.10   299165.190000
2023-12-31      384717.52   339870.076667
2024-01-31      396874.92   354732.846667
2024-02-29      342913.06   374835.166667
2024-03-31      274632.76   338140.246667

C:\Users\HACKER\AppData\Local\Temp\ipykernel_73748\3132458227.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_sales = df_time['Total_Amount'].resample('M').sum()

In [32]:
# pivot table to see Total Revenue by City and Category
city_category_pivot = pd.pivot_table(
    df,
    values='Total_Amount',
    index='City',
    columns='Product_Category',
    aggfunc='sum',
    fill_value=0  # Fill missing city/category combos with 0
)

print(f"\n--- Pivot Table: Revenue by City and Category ---")
print(city_category_pivot)

--- Pivot Table: Revenue by City and Category ---
Product_Category    Beauty     Books  Electronics    Fashion      Food  \
City
Adana             13332.53   6693.41    234434.40   24053.83   3441.71
Ankara            20055.91  10349.69    306703.00   50752.68  15766.04
Antalya           11059.05   5544.10    150048.13   16681.66   7895.06
Bursa             18777.17   7525.35    187055.25   41849.47  10253.76
Eskisehir          7353.97   4273.24     69321.33   14637.99   5920.44
Gaziantep          7751.87   5170.14    160398.60   31406.09   7035.34
Istanbul          43040.41  20790.86    619907.93  106812.42  23280.16
Izmir             19089.17   5750.74    252927.12   49398.05  11621.88
Kayseri            9065.04   2342.01    194896.35   14248.84   4127.64
Konya              7059.62   4304.98    153114.70   25373.90   6796.64

Product_Category  Home & Garden     Sports      Toys
City
Adana                  55252.36   72894.54  16956.85
Ankara                108307.93  112636.74  32963.83
Antalya                70243.13   38834.39  15244.37
Bursa                  99528.52   68113.80  25972.99
Eskisehir              44231.40   25060.04   8180.02
Gaziantep              45942.40   46450.45  14253.52
Istanbul              261927.24  202157.75  56205.79
Izmir                 113476.16   88536.79  26734.76
Kayseri                37703.77   38214.55  11705.71
Konya                  71735.95   61664.51  14924.64

In [33]:
# select only numeric columns that make sense to correlate
numeric_cols = ['Age', 'Unit_Price', 'Quantity', 'Discount_Amount', 'Total_Amount',
                'Session_Duration_Minutes', 'Pages_Viewed', 'Delivery_Time_Days', 'Customer_Rating']
correlation_matrix = df[numeric_cols].corr()

print(f"\n--- Correlation Matrix ---")
print(correlation_matrix)

# Focus on correlations with Customer_Rating
print(f"\n--- Correlations with Customer Rating ---")
print(correlation_matrix['Customer_Rating'].sort_values(ascending=False))

--- Correlation Matrix ---
                               Age  Unit_Price  Quantity  Discount_Amount  \
Age                       1.000000   -0.001618  0.000131        -0.012163
Unit_Price               -0.001618    1.000000 -0.004005         0.449766
Quantity                  0.000131   -0.004005  1.000000         0.014404
Discount_Amount          -0.012163    0.449766  0.014404         1.000000
Total_Amount             -0.004473    0.791073  0.329053         0.347578
Session_Duration_Minutes  0.001897   -0.010063 -0.006383        -0.001656
Pages_Viewed             -0.006434    0.004763 -0.004417         0.009103
Delivery_Time_Days       -0.017105   -0.005888 -0.004569        -0.019653
Customer_Rating          -0.010401    0.006185 -0.015598         0.013526

                          Total_Amount  Session_Duration_Minutes  \
Age                          -0.004473                  0.001897
Unit_Price                    0.791073                 -0.010063
Quantity                      0.329053                 -0.006383
Discount_Amount               0.347578                 -0.001656
Total_Amount                  1.000000                 -0.004119
Session_Duration_Minutes     -0.004119                  1.000000
Pages_Viewed                 -0.011831                  0.023923
Delivery_Time_Days           -0.005893                  0.015044
Customer_Rating               0.005742                  0.025725

                          Pages_Viewed  Delivery_Time_Days  Customer_Rating
Age                          -0.006434           -0.017105        -0.010401
Unit_Price                    0.004763           -0.005888         0.006185
Quantity                     -0.004417           -0.004569        -0.015598
Discount_Amount               0.009103           -0.019653         0.013526
Total_Amount                 -0.011831           -0.005893         0.005742
Session_Duration_Minutes      0.023923            0.015044         0.025725
Pages_Viewed                  1.000000            0.002002         0.007479
Delivery_Time_Days            0.002002            1.000000        -0.009948
Customer_Rating               0.007479           -0.009948         1.000000

--- Correlations with Customer Rating ---
Customer_Rating             1.000000
Session_Duration_Minutes    0.025725
Discount_Amount             0.013526
Pages_Viewed                0.007479
Unit_Price                  0.006185
Total_Amount                0.005742
Delivery_Time_Days         -0.009948
Age                        -0.010401
Quantity                   -0.015598
Name: Customer_Rating, dtype: float64